.container {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.inputSearch {
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
}

.inputButton {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.51rem;
  background-color: white;
  color: black;
  border: 3px solid #555555;
}

.inputButton:hover {
  background-color: #555555;
  color: white;
  cursor: pointer;
}

@media (max-width: 400px) {
  .container {
    margin: 1rem 0;
  }
  .inputSearch{
    width: 12rem;
  }
}
