.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
  align-content: center;
}
.container2 {
  display: flex;
  background: #145369;
  border-radius: 2rem; /* background-color: gray; */
  padding: 0 3rem 3rem;
  width: 50%;
  max-height: 100vh;
  margin: 3rem 0;
}
.danger{
  border: red solid 3px;

}
.form {
  display: flex;
  padding: 0 3rem;
  display: flex;
  width: 60%;
  max-height: 60%;
  flex-direction: column;
  align-items: flex-start;
}
.divInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0.5rem 0rem;
}
.divCountrie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0.5rem 0rem;
  max-width: 100%;
  flex-wrap: wrap;
}
.divcountryId {
  margin: 0.5rem 0.3rem;
  background: #006abf;
  padding: 0rem 0.4rem;
}

.inputButton {
  margin: 0.3rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.inputButton:hover {
  background-color: #555555;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
}

@media (max-width: 400px) {
  .form {
    padding: 1.5rem 0rem 4rem;
    width: 100%;
  }
  .container2 {
    padding: 0 4rem 1rem;
  }
  .selectCountries {
    width: 10rem;
  }
}
