.container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.container2{
  display: flex;
  width: 30%;
  align-items: center;
  /* background-color: red; */
}
.Link{
  margin: 0 0.4rem;
  margin-top: 0.3rem;
}

.inputButton {
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 0.51rem;
  background-color: white;
  color: black;
  border: 3px solid #555555;
}

.inputButton:hover {
  background-color: #555555;
  color: white;
  cursor: pointer;
}


@media (max-width: 400px) {
  .container2{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Link{
    margin:0.3rem -0.8rem;
  }
  .Link img{
    display: none;
  }
}