.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.containerCards {
  padding: 3rem;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem;
  justify-content: space-evenly;
  user-select: none;
}
.Linkdecoration {
  text-decoration: none;
}
.divSeRe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containeCardsDiv {
  display: flex;
  background: #145369;
  box-shadow: 1px 1px 11px #191919, 1px 3px 16px #292929;
  margin: 2rem;
  border-radius: 3rem;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15rem;
  height: 20rem;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.containeCardsDiv:hover {
  transform: scale(1.1);
}
select {
  padding: 0.2rem;
  margin: 0.5rem;
  background-color: #1e90ff;
  color: #ffffff;
}

select:hover {
  background-color: #004ea2;
}

@media (max-width: 400px) {
  .selectdiv {
    align-items: center;
  }
  .select {
    padding: 0;
    max-width: 5.5rem;
    margin: 0 0.1rem;
  }
  .containerCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    flex-direction: column;
  }
}
