.container {
  display: flex;
  background: url("../../Assets/backgroundGif.gif");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button_home {
  padding: 1rem;
  border-radius: 2rem;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button_home:hover {
  background-color: #555555;
  color: white;
  cursor: pointer;
}